:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Oswald', sans-serif;

  // colors
  --clr-white: #fff;
  --clr-main: #f5c7cc;
  --clr-main-light-1: #fdf4f5;
  --clr-main-light-2: #ddb3b8;
  --clr-grey-dark-1: #331d09;

  --clr-grey-light-1: #f9f5f3; // Light background
  --clr-grey-light-2: #f2efee; // Light lines
  --clr-grey-light-3: #d3c7c3; // Light text (placeholder)
}